










<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_change_style.css' %}">
</head>
<body>
    <div class="all_items">
        <div class="shapes">
            <div class="shape1">
            </div>
            <div class="shape2">
            </div>
        </div>
            <div>
                {% if validlink %}
                    <form method="post" class="login-form">
                        {% csrf_token %}
                        <h2 class="title">بازنشانی گذرواژه</h2>
                        <p>لطفا گذرواژه جدید خود را دوبار وارد کنید.</p>
                        <fieldset style="border: 0">
                            <div>
                                <div>
                                    <label for="new_password1" class="labels">گذرواژه جدید:</label>
                                    <input name="new_password1" type="password" placeholder="رمزعبور جدید" id="new_password1" required autocomplete="new-password" aria-describedby="new_password1_helptext">
                                </div>
                                <div id="new_password1_helptext" class="help">
                                    <ul>
                                        <li>گذرواژه شما نمی‌تواند شبیه سایر اطلاعات شخصی شما باشد.</li>
                                        <li>رمز عبور شما می‌بایست حداقل از 8 حرف تشکیل شده باشد.</li>
                                        <li>گذرواژه شما نمی تواند یک گذرواژه معمول باشد.</li>
                                        <li>گذرواژه شما نمی تواند کلا عدد باشد</li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <label for="new_password2" class="labels">تکرار گذرواه جدید:</label>
                                    <input name="new_password2" type="password" placeholder="تکرار رمزعبور جدید" id="new_password2" required autocomplete="new-password" aria-describedby="new_password2_helptext">
                                </div>
                                <div class="help" id="new_password2_helptext">برای تائید، رمز عبور قبلی را وارد کنید.</div>
                            </div>
                        </fieldset>
                        <div >
                            <input type="submit" value="بازنشانی گذرواژه" id="submit-button">
                        </div>
                    </form>
                {% else %}
                    <p>لینک تغییر پسورد شما معتبرر نیست.</p>
                {% endif %}
            </div>
    </div>
</body>
</html>