<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_style.css' %}">
</head>
<body>
    <div class="all_items">
        <div class="shapes">
            <div class="shape1">
            </div>
            <div class="shape2">
            </div>
        </div>


            <form class="login-form" method="post">
                {% csrf_token %}
                <h2 class="title">بازنشانی گذرواژه</h2>
                <p>لطفا ایمیل خود را وارد کنید</p>
                <label class="labels first-h2" for="email">ایمیل</label>
                <input type="email" name="email" id="email" placeholder="ایمیل" required class="first_input">
                <input type="submit" value="ارسال ایمیل">
            </form>

    </div>
</body>
</html>