<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/logout_style.css' %}">
</head>
<body>
    <div class="all_items">
        <div class="shapes">
            <div class="shape1">
            </div>
            <div class="shape2">
            </div>
        </div>
        <div class="logout_box">
            <h2 class="title">بازنشانی گذرواژه</h2>
            <p class="p_report">لینک تغییر پسورد برای شما ارسال شد.</p>
            <p class="p_report">لطفا ایمیل خود را بررسی کنید.</p>
        </div>

    </div>
</body>
</html>