{% extends "parent/base.html" %}
{% block title %}Ticket form{% endblock %}
{% block content %}
    <div class="forms_page">
        <h2>ثبت تیکت</h2>
        <form method="post" class="forms_box">
            {% csrf_token %}
            <label for="subject_id">موضوع:</label>
            <br>
            <select id="subject_id" name="subject">
                <option value="پیشنهاد" {% if form.subject.value == 'پیشنهاد' %}selected{% endif %} >پیشنهاد</option>
                <option value="انتقاد" {% if form.subject.value == 'انتقاد' %}selected{% endif %} >انتقاد</option>
                <option value="گزارش" {% if form.subject.value == 'گزارش' %}selected{% endif %} >گزارش</option>
                <option value="سایر" {% if form.subject.value == 'سایر' %}selected{% endif %} >سایر</option>
            </select>

            <label for="id_content">پیام:</label>
            <br>
            <textarea name="content" id="id_content" required cols="20" rows="10">
                {% if form.content.value %} {{ form.content.value }} {% endif %}</textarea>
            <br>
            <input type="submit" value="ثبت تیکت" id="bt_submit">
        </form>
                {% if form.errors%}
            لطفا خطاهای زیر را اصلاح کنید!!
            <br>
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        {{ field.label }} : {{ error }}
                        <br>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="{{ message.tags | default:"" }}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
